body {
    background-color: azure;
}

form {
    text-align: center;
}

h1 {
    text-align: center;
}

img {
    height: auto;
    width: 100%;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}